# 3.2

In [2]:
tweets = [
    'This is introduction to NLP',
    'It is likely to be useful, to people ',
    'Machine learning is the new electrcity',
    'There would be less hype around AI and more action going forward',
    'python is the best tool!','R is good langauage',
    'I like this book','I want more books like this'
]

import pandas as pd
df = pd.DataFrame({'tweets': [col.lower() for col in tweets]})
df

                                              tweets
0                        this is introduction to nlp
1              it is likely to be useful, to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                           python is the best tool!
5                                r is good langauage
6                                   i like this book
7                        i want more books like this

# 3.3

In [3]:
import re
df.tweets = [re.sub("[^a-z0-9 .]", '', col) for col in df.tweets]
df

                                              tweets
0                        this is introduction to nlp
1               it is likely to be useful to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                            python is the best tool
5                                r is good langauage
6                                   i like this book
7                        i want more books like this

# 3.4

In [4]:
text = "This is the first sentence. This is the second one."
list_of_words = text.split()
print(list_of_words)

import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
text="This is the first sentence. This is the second one."
print(word_tokenize(text)) 

# As you can see, NLTK slits the punctiations into it's own element of the list whereas slit just slits whitespaces.

['This', 'is', 'the', 'first', 'sentence.', 'This', 'is', 'the', 'second', 'one.']
['This', 'is', 'the', 'first', 'sentence', '.', 'This', 'is', 'the', 'second', 'one', '.']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\trueb\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [5]:
from nltk.tokenize import sent_tokenize
text="This is introduction to NLP. It is likely to be useful, to people."
print(sent_tokenize(text))

['This is introduction to NLP.', 'It is likely to be useful, to people.']

In [6]:
from nltk.tokenize import WordPunctTokenizer
text="We're moving to N.Y.!"
Tokenizer=WordPunctTokenizer()
print(Tokenizer.tokenize(text))

['We', "'", 're', 'moving', 'to', 'N', '.', 'Y', '.!']

In [7]:
from nltk.tokenize import RegexpTokenizer
text="We're moving to N.Y.!"
tokenizer = RegexpTokenizer(r"\w+")
print(tokenizer.tokenize(text))

['We', 're', 'moving', 'to', 'N', 'Y']

# 3.5

In [8]:
df['tokenized'] = [tokenizer.tokenize(col) for col in df['tweets']]
df

,tweets,tokenized
0,this is introduction to nlp,"[this, is, introduction, to, nlp]"
1,it is likely to be useful to people,"[it, is, likely, to, be, useful, to, people]"
2,machine learning is the new electrcity,"[machine, learning, is, the, new, electrcity]"
3,there would be less hype around ai and more ac...,"[there, would, be, less, hype, around, ai, and..."
4,python is the best tool,"[python, is, the, best, tool]"
5,r is good langauage,"[r, is, good, langauage]"
6,i like this book,"[i, like, this, book]"
7,i want more books like this,"[i, want, more, books, like, this]"

# 3.6

In [9]:
from nltk.tokenize import word_tokenize
with open('dataScientistJobDesc.txt', 'r', encoding="UTF-8") as file:
    data= file.read()
    data_list = word_tokenize(data)
    print(len(data_list))
    data_set = set(data_list)
    print(len(data_set))
    nltk_tokens = data_set

1373
549

# 3.7

In [10]:
import spacy
nlp = spacy.load("de_core_news_sm")
doc = nlp("Apple erwägt den Kauf eines österreichischen Startups um 6 Mio. Euro.")
print(doc)

Apple erwägt den Kauf eines österreichischen Startups um 6 Mio. Euro.

In [11]:
for token in doc:
    print(f"{token.text:{20}}",type(token))

Apple                <class 'spacy.tokens.token.Token'>
erwägt               <class 'spacy.tokens.token.Token'>
den                  <class 'spacy.tokens.token.Token'>
Kauf                 <class 'spacy.tokens.token.Token'>
eines                <class 'spacy.tokens.token.Token'>
österreichischen     <class 'spacy.tokens.token.Token'>
Startups             <class 'spacy.tokens.token.Token'>
um                   <class 'spacy.tokens.token.Token'>
6                    <class 'spacy.tokens.token.Token'>
Mio.                 <class 'spacy.tokens.token.Token'>
Euro                 <class 'spacy.tokens.token.Token'>
.                    <class 'spacy.tokens.token.Token'>

In [12]:
nlp = spacy.load("en_core_web_sm")
with open('dataScientistJobDesc.txt', 'r', encoding="UTF-8") as file:
    data = file.read()
    data_list = nlp(data)
    print(len(data_list))
    data_set = set([token.text for token in data_list])
    print(len(data_set))
    spacy_tokens = data_set

1454
561

In [13]:
# Spacy behandelt offensichtlich gewisse Zeichenketten (besonders Sonderzeichen) anders.
# Beispielsweise sieht man unten, dass Kommas, Punkte und Schrägstriche nicht gleich tokenized werden.
nltk_tokens.difference(spacy_tokens)

{'Director/VP/SVP',
 'Hands-on',
 'Problem-solving',
 'd3.js.',
 'data-driven',
 'don',
 'entry-level',
 'industries/sectors',
 'isn',
 'k-Nearest',
 'll',
 'must-have',
 'non-technical',
 'problem-solving',
 're',
 's',
 'senior-level',
 't'}

# 3.8

In [14]:
from nltk.corpus import stopwords

nltk.download('stopwords')
stop = stopwords.words('english')
text = "How to develop a chatbot in Python"
result = [word for word in text.split() if word not in stop]
result 

# Da How nicht in den Stopwords vorkommt, wurde es nicht aus dem Satz / der Liste entfernt

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\trueb\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['How', 'develop', 'chatbot', 'Python']

# 3.9

In [15]:
def remove_stopwords_and_join(text):
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop]
    return ' '.join(filtered_words)

df['tweets'] = df['tweets'].apply(remove_stopwords_and_join)
df['tokenized'] = [tokenizer.tokenize(col) for col in df['tweets']]
df

,tweets,tokenized
0,introduction nlp,"[introduction, nlp]"
1,likely useful people,"[likely, useful, people]"
2,machine learning new electrcity,"[machine, learning, new, electrcity]"
3,would less hype around ai action going forward,"[would, less, hype, around, ai, action, going,..."
4,python best tool,"[python, best, tool]"
5,r good langauage,"[r, good, langauage]"
6,like book,"[like, book]"
7,want books like,"[want, books, like]"

# 3.10

In [16]:
from nltk.stem import PorterStemmer
pt = PorterStemmer()
words = ['run','runner','running','ran','runs']
[pt.stem(word) for word in words]

['run', 'runner', 'run', 'ran', 'run']

In [17]:
text=['I like fishing','I eat fish','There are many fishes in pound']

In [18]:
df = pd.DataFrame([pt.stem(word) for word in text])
df

                                0
0                     i like fish
1                      i eat fish
2  there are many fishes in pound

# 3.11

In [19]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
print("rocks:", lemmatizer.lemmatize("rocks"))
print("studies:", lemmatizer.lemmatize("studies"))
print("better :", lemmatizer.lemmatize("better", pos ="a"))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\trueb\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\trueb\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

rocks: rock
studies: study
better : good

In [20]:
df = pd.DataFrame([lemmatizer.lemmatize(word) for word in text])
df

                                0
0                  I like fishing
1                      I eat fish
2  There are many fishes in pound